<div>
  <div style="display: flex; justify-content: space-between">
    <section><h1>Closed Deal</h1></section>
    <section>
      <p-button severity="warning">Close</p-button>
      <p-button severity="secondary">Dead/Archive</p-button>
    </section>
  </div>
  <div></div>
  <div>
    <h1>Deal Information</h1>
    <form #form="ngForm" (ngSubmit)="submitForm(form)">
      <div class="container">
        <div class="column">
          <div class="flex flex-column gap-2 m-6">
            <label for="username">Finance Manager</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
          <div class="flex flex-column gap-2">
            <label for="username">Sales Person</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
          <div class="flex flex-column gap-2">
            <label for="username">Sales Manager</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
          <div class="flex gap-2">
            <label for="username">Qualified Unit?</label>
            <p-checkbox name="groupname" value="val1" label="Yes"></p-checkbox>
            <p-checkbox name="groupname" value="val2" label="No"></p-checkbox>
          </div>
          <div class="flex flex-column gap-2">
            <label for="username">Notes</label>
            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              [autoResize]="true"
            ></textarea>
          </div>
        </div>
        <div class="column">
          <div class="flex flex-column gap-2">
            <label for="username">Lender</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
          <div class="flex flex-column gap-2">
            <label for="username">Credit Score</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
          <div class="flex flex-row gap-2">
            <div>
              <label for="username">Reserve Method</label>
              <input
                pInputText
                id="username"
                aria-describedby="username-help"
              />
            </div>
            <div>
              <label for="username">Split/Flat %/Amount</label>
              <input
                pInputText
                id="username"
                aria-describedby="username-help"
              />
            </div>
          </div>
          <div class="flex flex-row gap-2">
            <div>
              <label for="username">Buy Rate</label>
              <input
                pInputText
                id="username"
                aria-describedby="username-help"
              />
            </div>
            <div>
              <label for="username">Sell Rate</label>
              <input
                pInputText
                id="username"
                aria-describedby="username-help"
              />
            </div>
          </div>
          <div class="flex flex-column gap-2">
            <label for="username">Rate Deviation Reason</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
          <div class="flex flex-row gap-2">
            <div>
              <label for="username">Value Method</label>
              <input
                pInputText
                id="username"
                aria-describedby="username-help"
              />
            </div>
            <div>
              <label for="username">Vehicle Value</label>
              <input
                pInputText
                id="username"
                aria-describedby="username-help"
              />
            </div>
          </div>
          <div class="flex flex-column gap-2">
            <label for="username">Loan To Value</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
        </div>
        <div class="column">
          <div class="flex flex-column gap-2">
            <label for="username">Front Gross</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
          <div class="flex flex-row gap-2">
            <label for="username">Finance Reserve</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
          <div class="flex flex-column gap-2">
            <label for="username">Finance Products Sold</label>
            <input pInputText id="username" aria-describedby="username-help" />
            <input pInputText id="username" aria-describedby="username-help" />
            <input pInputText id="username" aria-describedby="username-help" />
            <input pInputText id="username" aria-describedby="username-help" />
            <input pInputText id="username" aria-describedby="username-help" />
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
          <div class="flex flex-column gap-2">
            <label for="username">Back Gross</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
          <div class="flex flex-column gap-2">
            <label for="username">Total Gross</label>
            <input pInputText id="username" aria-describedby="username-help" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" ngModel required />
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" ngModel required />
  </div>

  <div>
    <label>Qualified Unit:</label><br />
    <div>
      <input
        type="checkbox"
        id="qualifiedUnitYes"
        name="qualifiedUnitYes"
        ngModel
      />
      <label for="qualifiedUnitYes">Yes</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="qualifiedUnitNo"
        name="qualifiedUnitNo"
        ngModel
      />
      <label for="qualifiedUnitNo">No</label>
    </div>
  </div>

  <button type="submit" [disabled]="form.invalid">Submit</button> -->
